@{
  width:1200px;
  height:900px;
}
body{
  padding:0px;
  color:white;
  background-color:black;
}
.content{
  justify-content:center;
}
.nav{
  display:flex;
  color:white;
  text-decoration:none;
  
}



.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #4014bb; /* purple*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.card-pai{
  display:flex;
  justify-content:space-between;
}
.card1 img{
  height:95px;
  width:125px;
  
}
.card2 img{
  height:95px;
  width:125px;
  
}
.card3 img{
  height:95px;
  width:125px;
  
}
.card4 img{
  height:95px;
  width:125px;
  
}